.footer{
    /* position: absolute;
    bottom: 0;
    margin: 0;
    background-color: #e73030;
    width: 100%; */

    /* background-color: #e73030;
clear: both;
position: relative;
height: 100px;
padding-top: -100px; */

background-color: #e73030;

width: 100%;
height: 4vh;
}